.header {
    border-bottom: 1px solid var(--header-border-color);
}
.header__container {
    display: flex;
    align-items: center;
}
.header__logo {
    @extend %logo;
    display: flex;
    color: var(--logo-top);
}
.header__logo--accent {
    @extend %logo;
    color: var(--accent-color);
}
